.acerca-container {
  position: relative;
  overflow: hidden;
  background-color: rgb(65, 65, 65);
}

.heading {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  margin-top: 1rem;
  text-align: center;
}

.link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}