.credits-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  overflow-y: auto;
  height: 70vh;

  @media (max-width: 768px) {
    padding: 10px;
    font-size: 16px;
  }
}

.credit {
  font-size: 22px;
  margin: 5px 0;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.logo {
  height: 200px;
  width: 200px;

  @media (max-width: 768px) {
    height: 100px;
    width: 100px;
  }
}
