.lyrics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden; /* Ocultar la barra de desplazamiento */
}

.back-to-home-link img {
  height: 40px;
  width: 40px;
}

.back-to-home-link:hover img {
  opacity: 0.5;
}

.image-container {
  position: relative;
}

.back-to-home-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
