/* Estilos comunes para todas las resoluciones */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-family: "Nubifont";
  font-size: 3rem;
  margin-top: 1rem;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  margin-top: 20px;
}

.back-to-home-link img {
  height: 40px;
  width: 40px;
}

.link-tree-link:hover {
  opacity: 0.5;
}

.link-tree-link {
  font-family: "Nubifont";
  font-weight: bold;
  font-size: 20px;
}

/* Estilos específicos para resoluciones de 280 x 653 */
@media (width: 280px) and (height: 653px) {
  .heading {
    font-size: 2.5rem; /* Ajusta el tamaño de la fuente para la pantalla específica */
  }
}
