/* Estilos comunes para todas las resoluciones */
#main-container {
  transition: background-color 0.5s ease;
}

.heading {
  font-family: "Nubifont";
  font-size: 3rem;
  margin-top: 1rem;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  margin-top: 20px;
}

.back-to-home-link img {
  height: 40px;
  width: 40px;
}

.link-tree-link:hover {
  opacity: 0.5;
}

.link-tree-link {
  font-family: "Nubifont";
  font-weight: bold;
  font-size: 20px;
}

/* Estilos específicos para resoluciones mayores a 768px */
@media (min-width: 768px) {
  #main-container {
    padding: 20px; /* Añade más espacio alrededor del contenedor principal */
  }

  .heading {
    font-size: 4rem; /* Aumenta el tamaño de la fuente para pantallas más grandes */
  }
}

/* Estilos específicos para resoluciones mayores a 1024px */
@media (min-width: 1024px) {
  #main-container {
    padding: 40px; /* Añade aún más espacio alrededor del contenedor principal */
  }

  .heading {
    font-size: 5rem; /* Aumenta el tamaño de la fuente para pantallas más grandes */
  }
}

/* Estilos específicos para resoluciones de 280 x 653 */
@media (width: 280px) and (height: 653px) {
  .heading {
    font-size: 2.5rem; /* Ajusta el tamaño de la fuente para la pantalla específica */
  }
}
