.instagram-link {
  position: absolute;
  z-index: 9999;
  top: 16px;
  right: 90px;
  transition: transform 0.2s ease;
  text-decoration: none;
  opacity: 0.6;
}

.spotify-link {
  position: absolute;
  z-index: 9999;
  top: 16px;
  right: 50px;
  transition: transform 0.2s ease;
  text-decoration: none;
  opacity: 0.6;
}

.youtube-link {
  position: absolute;
  z-index: 9999;
  top: 16px;
  right: 10px;
  transition: transform 0.2s ease;
  text-decoration: none;
  opacity: 0.6;
}

.instagram-link:hover {
  transform: scale(1.2);
}

.spotify-link:hover {
  transform: scale(1.2);
}

.youtube-link:hover {
  transform: scale(1.2);
}
